{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Thread - /{{ board.slug }}/</title>

    <link rel="stylesheet" href="{% static 'boards/style.css' %}">
</head>

<body>

<h1>
    Create New Thread
</h1>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.subject.label_tag }}
        {{ form.subject }}

        {% for error in form.subject.errors %}
            <br>
            <strong>{{ error }}</strong>
        {% endfor %}
    </p>

    <p>
        {{ form.poster_name.label_tag }}
        {{ form.poster_name }}

        {% for error in form.poster_name.errors %}
            <br>
            <strong>{{ error }}</strong>
        {% endfor %}
    </p>

    <p>
        {{ form.content.label_tag }}
        {{ form.content }}

        {% for error in form.content.errors %}
            <br>
            <strong>{{ error }}</strong>
        {% endfor %}
    </p>

    {% if board.allows_images %}
        <p>
            {{ form.image.label_tag }}
            {{ form.image }}

            {% for error in form.image.errors %}
                <br>
                <strong>{{ error }}</strong>
            {% endfor %}
        </p>
    {% endif %}

    <button type="submit">
        Create Thread
    </button>

</form>

<p>
    <a href="{% url 'board' board.slug %}">
        Return to /{{ board.slug }}/
    </a>
</p>

</body>
</html>