{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reply - /{{ thread.board.slug }}/</title>

    <link rel="stylesheet" href="{% static 'boards/style.css' %}">
</head>

<body>

<h1>
    Reply to Thread #{{ thread.id }}
</h1>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.poster_name.label_tag }}
        {{ form.poster_name }}
        <span class="form-help">{{ form.poster_name.help_text }}</span>

        {% for error in form.poster_name.errors %}
            <br>
            <strong>{{ error }}</strong>
        {% endfor %}
    </p>

    <p>
        {{ form.content.label_tag }}
        {{ form.content }}

        {% for error in form.content.errors %}
            <br>
            <strong>{{ error }}</strong>
        {% endfor %}
    </p>

    {% if thread.board.allows_images %}
        <p>
            {{ form.image.label_tag }}
            {{ form.image }}

            {% for error in form.image.errors %}
                <br>
                <strong>{{ error }}</strong>
            {% endfor %}
        </p>
    {% endif %}

    <p class="form-checkbox">
        {{ form.sage }}
        {{ form.sage.label_tag }}
    </p>

    <button type="submit">
        Submit Reply
    </button>

</form>

<p>
    <a href="{% url 'thread' thread.board.slug thread.id %}">
        Return to thread
    </a>
</p>

</body>
</html>