{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        /{{ thread.board.slug }}/ -
        {{ thread.subject|default:"(no subject)" }}
    </title>

    <link rel="stylesheet" href="{% static 'boards/style.css' %}">
    <script src="{% static 'boards/expand.js' %}" defer></script>
</head>

<body>

<p>
    <a href="{% url 'board' thread.board.slug %}">
        ← Back to /{{ thread.board.slug }}/
    </a>
</p>

<h1>
    {{ thread.subject|default:"(no subject)" }}
</h1>

<p>
    Thread #{{ thread.id }}
</p>

{% if not thread.locked %}
    <p>
        <a href="{% url 'create-reply' thread.board.slug thread.id %}">
            Reply to Thread
        </a>
    </p>
{% endif %}

<hr>

{% if posts %}

    {% for post in posts %}

        {% include "boards/post.html" %}

        <hr>

    {% endfor %}

{% else %}

    <p>
        This thread has no posts.
    </p>

{% endif %}

</body>
</html>